<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <p class="mv0 lh-copy">
        Made with
        <svg
          aria-labelledby="svg-inline--fa-title-DnkMAVvZBF4e"
          data-prefix="fas"
          data-icon="heart"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="svg-inline--fa fa-heart fa-w-16"
        >
          <title id="svg-inline--fa-title-DnkMAVvZBF4e" class="">
            Markdown and Bootstrap
          </title>
          <path
            fill="currentColor"
            d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
            class=""
          ></path>
        </svg>
        in
        <a
          href="https://www.google.com/maps/place/Kochi, Kerala"
          target="_blank"
          class="link color-inherit hover-white"
          >Kochi</a
        >.
      </p>
      <small class="d-block mb-3 text-muted"
        >Copyright 2020 © Sakshi Mehta
        <p>
          This is a personal blog. Opinions expressed are solely my own and do
          not express the views or opinions of my employer.
        </p></small
      >
    </div>
    <div class="col-12 col-md">
      <h5>Blog</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="{{site.baseurl}}/archives"
            >Blog Archives</a
          >
        </li>
        <li>
          <a class="text-muted" href="{{site.baseurl}}/categories"
            >Categories</a
          >
        </li>
      </ul>
    </div>
    <!--<div class="col-6 col-md">
      <h5>Activities</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="{{site.baseurl}}/speaking"
            >Speaking Engagements</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="{{site.baseurl}}/learn"
            >Learn & Upskill</a
          >
        </li>
        <li>
          <a class="text-muted" href="{{site.baseurl}}/downloads"
            >Downloadables</a
          >
        </li>
      </ul>
    </div>-->
  </div>
</footer>
