<div class="card">
  <div class="card-header">
    <h4>Categories</h4>
  </div>
<ul class="list-group">
    {% assign categories_list = site.categories %} {% if categories_list.first[0]
    == null %} {% for category in categories_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a
        href="/categories/#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}"
        >{{ category | camelcase }}></a
        <span class="badge badge-primary badge-pill">{{ site.tags[category].size }}</span>
    </li>
    {% endfor %} {% else %} {% for category in categories_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a
        href="/categories/#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"
        >{{ category[0] | camelcase }}</a
        >
        <span class="badge badge-primary badge-pill">{{ category[1].size }}</span
        >
    </li>
    {% endfor %} {% endif %} {% assign categories_list = nil %}
  </ul>
</div>
<br/>
